.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__name
        aa
      %ul.side-header__box__icon
        %li.side-header__box__icon__1
          = link_to "#" do
            = icon('fas', 'edit')
        %li.side-header__box__icon__2
          = link_to "#" do
            = icon('fas', 'cog')
  .groups
    .groups__box
      %p.groups__box__name
        チャットグループ
      %p.groups__box__message
        まだメッセージはありません。